# 기존 내용 유지
node_modules
dist
dist-ssr
*.local

# frontend, backend 폴더 내 node_modules, dist
frontend/node_modules
frontend/dist
backend/node_modules
backend/dist

# 환경 변수 파일
.env
.env.local
.env.development
.env.production

# frontend, backend 폴더 내 환경 변수 파일
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

backend/.env
backend/.env.local
backend/.env.development
backend/.env.production

# 파일 업로드 폴더 무시
backend/uploads/